:root {
    /* Paleta de colores  */
    --color1: #59cece;
    --color2: #64b3d7;
    --color3: #8fadee;
    --color4: #cbc6f8;
    --color5: #ebeaf8;
}

* {font-family: 'Epilogue', sans-serif;}

a:link, a:visited, a:active {
    text-decoration:none;
}

html {
    background-color: white;
}

body {
    background-color: var(--color5);
    /* color : var(--color1); */
    margin: 2vw 5vw 1vw;
    box-shadow: 0 0 20px var(--color3);

}

div.sticky {
        position: sticky;
        top: 0;
}

header {
    background-image : linear-gradient(var(--color3),var(--color5));
    padding-bottom: 1%;
}

header h1 {
    font-size: max(3vw, 20px);
    font-weight: 900;
    text-decoration : none;
    padding: 2ch 5ch 0ch 5ch;
    margin: 0ch;
    text-align : left;
}

header h2 {
    font-size: max(1.5vw, 14px);
    font-weight: 600;
    text-decoration : none;
    padding: 0vw 1vw 1vw;
    margin: 0ch;
    text-align : center;
}

header > p {
        font-size: max(1vw, 12px);
        font-weight: 300;
        margin: 0;
        padding: 0.03vw;
        text-align : center;
}

section {
    font-size: max(1.5vw, 10px);
    margin-top: 0.5vw;
    margin-bottom: 1vw;
    text-align : center;
}

main {
    text-align: center;
    padding: 0vw;
}

footer {
    padding: 1%;
    text-align: center;
    font-size: max(1vw, 14px);
}

.oferta {
    transition-property: all;
    transform-style: flat;
    transition-duration: 2s;
    padding: 1% 10% 1% 10%;
}

.oferta:hover {
    background: var(--color2); color: var(--color5);
}

.tabla {
    font-size: 70%;
    /* background-color: var(--color4); */
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 0 20px var(--color3);
    border: 1px solid #ddd;
}

th, td {
    text-align: center;
    padding: 1vw;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

iframe {
    margin: 1%;
}

.column {
    flex: 65%;
}

.sub {
    text-align: right;
    padding: 1vw;
    font-size: max(1.3vw, 10px);
    flex: 35%;
}

.flex-container {
    display: flex;
}

/* 
@media only screen and (max-width: 500px) {
    body {
        margin: 3vw 3vw 3vw 3vw;
    }

    section p strong {
    font-size: max(2.5vw, 18px);
    padding: 2vw;
    text-align : center;
    } */

}
